$theme-color: lightgrey;
$button: rgba(65, 61, 61, 0.303);

header {
  background-color: $theme-color;
}

.counter .clicker {
//  background-color: $button;
 transition: .25s;
 -webkit-appearance: button;
 outline: none;
 cursor: pointer;
 border-radius: 50%;
}

.counter .clicker:hover {
  background-color: rgba(255, 255, 255, 0.714);
}

.counter {
  .up:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .down:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

footer {
  background-color: $theme-color;
}